@font-face {
  font-family: "LeagueSpartan";
  src: url(/src/assets/fonts/LeagueSpartan.ttf);
}

.homepage-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-image > img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.homepage-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage-title {
  margin: 8px;
  font-size: 40px;
  font-weight: 500;
  color: #1B98E0;
}

.homepage-paragraph {
  margin: 16px;
  font-size: 24px;
  font-weight: 300;
}

#nav {
  display: none;
  justify-content: center;
  margin: 16px;
}

.scrolldown-icon {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .homepage-body {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .homepage-image {
    height: 100vh;
  }

  .scrolldown-icon {
    position: fixed;
    bottom: 0;
  }
  
  #nav {
    display: flex;
    flex-wrap: wrap;
  }

  #nav > a {
    padding: 5px;
    text-decoration: none;
  }

  #nav > a:link,
  #nav > a:visited {
    color: white;
    text-decoration: none;
  }

  #nav > a:visited {
    padding: 5px;
    text-decoration: none;
    color: white;
  }

  .homepage-image > img {
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}